body{
    background-image: url("fundo.png");
    background-size: cover;
    text-align: center;
}
#login1{
        float:none;
        background: white;
		padding: 10px;
		margin: 0 auto 0 auto;
        width:30%;
        border-radius: 15px;
}